@import url("https://fonts.googleapis.com/css2?family=Manrope&family=Open+Sans&family=Poppins:ital,wght@0,600;1,500&display=swap");
* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100vw;
  background: radial-gradient(#ffe7ff, #b68abd);
  box-sizing: border-box;
  font-size: 16px;
}
.container {
  width: 100%;
  height: 100%;
}
header {
  background-color: #805788;
  height: 9%;
  width: 100%;
}
:root {
  --color: #ded5c4;
  --secondary-color: #805788;
  --font-family: "Public sans, sans-serif";
  --font-size: 20px;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-flow: row nowrap;
  flex-basis: 100%;
  width: 100%;
}
.flex-container > h3 {
  height: 90%;

  margin: 14px 5px;
  padding: 0.1px 5px;

  font-style: italic;
  color: #ffe7ff;
  font-size: 1.3rem;
  font-weight: light;
  font-family: serif, Geneva, Verdana, sans-serif;
  text-align: center;
  justify-content: flex-start;
}

.nav-bar ul {
  display: flex;
  flex-flow: row nowrap;

  padding: 7px;
  width: 100%;
  justify-content: space-evenly;

  list-style-type: none;
}

.flex-item {
  margin: 5px 15px;
  padding: 5px;
  justify-content: flex-end;
  text-decoration: none;

  cursor: pointer;
  color: #ded5c4;
}
ul a,
.navigation {
  display: block;
  margin: 5px;
  width: 90px;
  padding: 5px 10 px;
  font-size: var(--font-size);
}

.bg-image {
  height: auto;

  width: 100%;
}
.profile-picture {
  margin: 0 auto;
}
.profile-picture img {
  width: 450px;
  height: 300px;
}

.intro {
  margin: 0 auto;

  backdrop-filter: blur(2px);
  text-align: center;
}

h1 {
  margin: 0 auto;
  display: block;
  padding: 1rem;
  font-size: 25px;
  font-family: serif, Helvetica;
  font-weight: bold;
  font-style: italic;
  text-align: center;
  color: black;
  opacity: 90%;
}
.bio h1 {
  font-size: 35px;
  font-family: Cambria, sans-serif, Helvetica;
  font-size: 45px;
}
h2 {
  opacity: 95%;
  width: 40%;
  margin: 0 auto;
  font-size: 33px;
  font-style: italic;
  font-weight: light;
  color: black;
  text-align: center;
}

button {
  display: inline-block;
  background-color: var(--secondary-color);
  margin: 1rem;
  text-align: center;
  width: 17%;
  height: 45px;
  padding: 0.5rem;
  font-size: 1.2rem;
  font-family: Cambria, Poppins, sans-serif;
  border-radius: 0.2rem;
  border: 1px solid gray;

  cursor: pointer;
  text-decoration: none;

  font-weight: 500;
  justify-self: center;
}
button a {
  color: whitesmoke;
  text-decoration: none;
  text-align: center;
}

footer {
  background-color: var(--secondary-color);
  height: 5%;
}
footer > p {
  font-size: var(--font-size);
  padding: 15px 12px;
}

.socialmedia {
  border: 0.3px solid #393e46;
  width: 5%;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  position: fixed;
  right: -3px;
  top: 200px;

  background-color: var(--secondary-color);
}

.socialmedia > li {
  width: 100%;
  list-style-type: none;
  padding: 0 4px;
  border: 1px solid #393e46;
  margin: 0 auto;
}
.contact-me {
  margin: 0;
  padding: 0;

  max-width: 100%;
  width: 100%;
  height: 100vh;
}
.contact-me h2,
.myStack h5 {
  text-align: center;
  font-style: normal;
  font-size: 1.8rem;
  font-family: sans-serif, Helvetica;
  text-decoration: underline;
  font-weight: 600;
  opacity: 80%;
  padding: 25px 10px;
}
.contact {
  margin: 0 auto;
  padding: 18px;
  width: 35%;
  height: 95%;
  border: 1px groove #ded5c4;
}
.projects > small {
  text-align: center;
}
.contact input {
  display: flex;
  margin: 0 auto;
  margin: 1rem 1.2rem;
  margin-top: 0.7rem;
  align-items: center;
  padding: 0.7rem;
  width: 85%;
  height: 20%;
  border: 0.5px solid var(--secondary-color);
  border-radius: 0.5rem;
}
:placeholder-shown {
  color: #393e46;
}
.button-div {
  margin: 0 auto;
  text-align: center;
}

.contact > label {
  font-size: 1.2rem;
  color: var(--secondary-color);
  margin: 0 1.2rem;
  font-weight: light;
}

.form-button {
  width: 80%;
  background-color: var(--secondary-color);
  color: whitesmoke;
  margin: 0 auto;
}

h3 {
  text-align: center;
  font-size: 40px;
  margin: 0 auto;
  padding: 10px;
}
.projects {
  display: flex;
  flex-flow: row nowrap;
}

.projects p {
  text-align: center;
  line-height: 1.2rem;
  width: 100%;

  padding: 5px;
  font-size: 1rem;
}
.projects section {
  flex-basis: 20%;
  height: 40vh;
  margin: 20px auto;
  z-index: 2;
  box-shadow: 2px 2px 1px #305973;
}

.project-section h3 {
  font-size: 35px;
  text-decoration: underline;
  font-family: Cambria, sans-serif, Helvetica;
}
.myStack {
  height: 70vh;
  margin: 0 auto;
  text-align: center;
}
.stack {
  width: 100%;
  height: 100%;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: center;
}
figcaption {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  justify-content: center;
  width: 13%;
  height: 100px;
  margin: 1rem;
  border: 1px solid #305973;
  border-radius: 0.5rem;
  padding: 1rem;

  z-index: 3;
  box-shadow: 3px 3px 3px #305973;
}
figure img {
  width: 40px;
  height: 40px;

  margin: 0 auto;
}
figcaption caption {
  text-align: center;
  padding: 1.2rem;
  font-size: 1.4rem;
}
.navigation {
  display: none;
}
.input-cursor {
  display: inline-block;
  width: 2px;
  height: 42px;
  background-color: rgb(45, 53, 53);
  margin-left: 8px;
  animation: blink 0.6s linear infinite alternate;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}

section > img {
  width: 100%;
  height: 55%;
}

@media only screen and (max-width: 790px) {
  body {
    width: 100%;
    height: auto;
  }
  .intro {
    width: 100%;
    margin: 0 auto;
  }
  .nav-bar {
    display: none;
  }
  h2 {
    width: 60%;
  }
  .button-class {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
  }
  button {
    display: block;
    width: 50%;
  }

  .contact {
    width: 80%;
  }
  .about-me {
    height: auto;
    display: block;
    padding: 2rem;
  }
  .profile-picture {
    height: auto;
  }
  .profile-picture img {
    margin: 0 auto;
    text-align: center;
  }
  .bio {
    text-align: center;
    width: 70%;
    line-height: 2rem;
  }
  .projects-section {
    height: auto;
    max-height: 100%;
  }
  .projects {
    flex-flow: column nowrap;
    padding: 1rem;

    justify-self: center;
  }

  footer {
    margin-bottom: 0;
    height: auto;
  }
  .socialmedia {
    right: 0.1rem;
    width: auto;
  }
  .myStack {
    text-align: center;
    height: auto;
  }
  .stack {
    width: 100vw;
    display: flex;
    height: auto;
    flex-flow: column nowrap;
    text-align: center;
  }
  .navigation {
    font-size: 2rem;
    color: #ded5c4;
    display: none;
    text-decoration: none;
    font-weight: bolder;
    margin-bottom: 0.5rem;
    margin-right: 0;
    padding: 0.5rem 0;
    cursor: pointer;
    display: block;
  }

  figcaption {
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
    width: 43%;
    height: 100px;
    margin: 1rem auto;
    border: 1px solid #305973;
    border-radius: 0.5rem;
    padding: 1rem;

    z-index: 3;
    box-shadow: 2px 2px 2px #305973;
  }
  figure img {
    width: 80px;
    height: 80px;

    margin: 0 auto;
  }
  caption {
    text-align: center;
    padding: 1.2rem;
    font-size: 1.3rem;
  }
}
